<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Management System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Index.css' %}">
</head>
<body>

<h1>Students</h1>

<table border="1" class="table">
    {% for x in mystudents %}


    <tr class="row">
        <td>{{x.id}}</td>
        <td>{{x.firstname}}</td>
        <td>{{x.lastname}}</td>
        <td><a href=""><button>Update</button></a></td>
        <td><a><button>Remove</button></a></td>

    </tr>
    {% endfor %}
</table>

<h2>Want to Add a new student? Click the button below</h2>
<a href="{% url 'add' %}"><button >Add a new student</button></a>

<button>Hello world</button>
<button></button>
</body>
</html>