<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>

{%load crispy_forms_tags%}

<h1>Login</h1>

<form method="POST">
    {% csrf_token %}
    {{login_form|crispy}}
    <button type="submit">Login</button>
</form>

<p class="text-center">Don't have an account?</p><a href="/register">Create an account</a></p>


</body>
</html>